# wandb
WANDB_ENTITY=<your-wandb-entity>
WANDB_PROJECT=BPTT-sudoku
# data / caches (relative to PROJECT_ROOT)
DATA_DIR=data
HF_HOME=hf_home
HF_DATASETS_CACHE=hf_datasets_cache
# output
LOG_DIR=logs
# misc
TOKENIZERS_PARALLELISM=false
PROJECT_ROOT=.
# hydra
HYDRA_FULL_ERROR=1
OC_CAUSE=1
# torch compile logs
TORCHDYNAMO_CAPTURE_SCALAR_OUTPUTS=1
