logs/*
debug_logs/*
data/*
watch_folder/*
*.pyc
.env
.specstory
.venv*
.cursorindexingignore
*.png
*.pyc
**.DS_Store
**.coverage
**.hypothesis
coverage.xml
**.idea
docstring-coverage.txt
.mypy_cache/
hf_home/
hf_datasets_cache/
.vscode/
.cursor/plans
**/*runs.json
*.code-workspace
temp.md
visualization/outputs/*.jsonl